/home/alj/Dropbox.personal/Dropbox/Teaching/2016HTS/UnixToolsForBioinformatics/PracticeFiles/
/home/alj/Dropbox.personal/Dropbox/Teaching/2016HTS/UnixToolsForBioinformatics/PracticeFiles/
/home/alj/Dropbox.personal/Dropbox/Teaching/2016HTS/RemainingFiles
*.bam
*.sam
*.fq
*.fastq




